.container {
  display: block;
  justify-content: center;
  margin: 0 auto 40px auto;

  iframe {
    height: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0;
  }

  &.border {
    iframe {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
