.container {
  display: flex;
  max-width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  opacity: 0;
  padding-top: 10px;

  &.visible {
    opacity: 1;
    padding-top: 0;
  }
}
