.container {
  margin: 20px 0 50px 0;

  img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }

  label {
    font-size: 1.4rem;
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}
