{{ define "main" }}
      <div class="main-and-footer">
        <div id="cover-img">
          <img src="{{ .Params.image }}" />
          <div id="cover-img-credit">
            {{ .Params.image_credit | safeHTML }}
          </div>

        </div>
        <div>
  <main id="main" class="single">
    <h1>{{ .Title }}</h1>
      <div class="info">
      <date>{{.Date.Format "Jan 2 2006"}}</date>
      <span>{{.ReadingTime}} min read</span>
      </div>
    {{ .Content }}

<div class="line"></div>
  </main>
        </div>
    {{ partial "newsletter.html" . }}
      </div>
      <script>
        let icon = '<i data-feather="link"></i>';
let headings = document.getElementsByTagName('h2');
for (let i = 0; i < headings.length; i++) {
  let id = headings[i].id;
  let iconLink = '<a class="header-icon-link" href="#' + id + '">' + icon + '</a> ';
  let headingWithIconLink = iconLink + headings[i].innerHTML;
  headings[i].innerHTML = headingWithIconLink;
}
      </script>
{{ end }}
