@import "~styles/constants";

.header {
  border-top: $HEADER_BORDER solid $BOOK_BG;
}

.button {
  display: block;
  padding: 20px 40px;
  background: $BOOK_HIGHLIGHT;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 26px;
  border: none;
  margin: 10px 0;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 4px;

  &:hover {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  span {
    opacity: 0.85;
  }
}

.buyContainer {
  text-align: center;
}

.jumbotron {
  background-color: $BOOK_BG;
  min-height: 600px;
  color: white;
  padding: 80px 40px 40px 40px;

  > div {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 40px auto;
  }

  h1 {
    color: $BOOK_HIGHLIGHT;
    font-size: 44px;

    span {
      display: block;
      color: white;
    }
  }

  img {
    max-height: 600px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.6);
    margin-right: 40px;
    display: block;
  }
}

.headline {
  max-width: 800px;
  margin: 60px auto 100px auto;
  font-size: 50px;
  color: white;
  opacity: 1;
  text-align: center;

  span {
    color: $BOOK_HIGHLIGHT;
  }
}

.contents {
  max-width: 800px;
  margin: 40px auto;
}

.section {
  background: white;
  &:nth-child(2n + 1) {
    background: rgba($BOOK_HIGHLIGHT, 0.12);
  }

  color: rgba(0, 0, 0, 0.6);
  padding: 40px 0;

  h1, h2, h3 {
    color: rgb(31, 182, 255);
  }

  h2 {
    margin-bottom: 40px;
    font-size: 50px;
  }

  li, p {
    font-size: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }
}
