<header class="intro-and-nav" role="banner">
  <div>
    <div id="logo-container">
  <img src="/images/logo.png" id="logo" />
    </div>
    <div class="intro">
      Kevin Scott
      <!-- <p class="library-desc">
        {{ with .Site.Params.description }} {{ . | markdownify }} {{ end }}
      </p> -->
    </div>
    {{ partial "nav.html" . }}
    <!-- <label for="themer">
      {{ T "dark_theme" }} <input type="checkbox" id="themer" class="vh">
      <span aria-hidden="true"></span>
    </label> -->
  </div>
</header>
