@import "~styles/constants";

.container {
  padding: 0 40px;
  margin: ($HEADER_HEIGHT + $HEADER_BORDER) auto 0 auto;
  overflow: hidden;

  @media screen and (max-width: $tablet) {
    width: auto;
    padding: 0 20px;
  }

  a {
    border-bottom: none;
  }
}

.blogPosts {
  list-style-type: none;
  padding: 40px 0 0 0;
  margin: 0 auto;
  // max-width: 780px;
  max-width: 600px;

  @media screen and (max-width: $tablet) {
    width: auto;
    padding: 0;
  }
}

.header {
  margin-top: 40px;
  font-weight: bold;
  padding: 0 180px;

  @media screen and (max-width: $giant) {
    padding: 0 80px;
  }

  @media screen and (max-width: $desktop) {
    padding: 0 60px;
  }

  @media screen and (max-width: $tablet) {
    padding: 0;
    margin-left: -5px;
  }
}

$PADDING: 40px;
$SHADOW: 10px;

.title {
  margin: 20px 0 80px -$PADDING;
  font-size: 8.2rem;
  line-height: 8.2rem;
  background: $YELLOW;
  padding: $PADDING;
  box-shadow: $SHADOW $SHADOW 0 $BLUE;

  span {
    display: block;
  }

  @media screen and (max-width: $giant) {
    font-size: 5.6rem;
    line-height: 5.6rem;
  }

  @media screen and (max-width: $tablet) {
    margin-left: 0;
    width: 100%;
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  @media screen and (max-width: $phone) {
    // margin-left: -10px;
    width: calc(100% - 10px);
    padding: 20px 40px;
    font-size: 4.6rem;
  }
}

.post {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;

  h2 {
    font-weight: 500;
    font-size: 2.8rem;
    margin: 0 0 5px 0;
    color: rgba(0,0,0,0.65);
    width: 100%;
    display: block;
  }

  p {
    color: rgba(0,0,0,0.5);
    font-size: 1.4rem;
    margin: 0;
  }

  .postContent {
    padding: 20px;
    margin: 0 0 (60px + $SHADOW) -20px;
    width: calc(100% + 40px);
    box-shadow: 0 0 0 $BLUE;
    transition-duration: 0.4s;

    &::after {
      clear: both;
      content: "";
      display: block;
    }

    a {
      display: inline-block;
      float: right;
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.7);
      border-bottom: 2px solid transparent;
      text-transform: uppercase;
      padding: 10px;
      text-align: right;
      transition-duration: 0.4s;
      height: 20px;
      margin-bottom: 10px;
    }

    &:hover {
      background: $GRAY;
      box-shadow: $SHADOW $SHADOW 0 $BLUE;

      a {
        height: 30px;
        margin-bottom: 0;
        border-bottom: 2px solid $BLUE;
      }
    }

    @media screen and (max-width: $tablet) {
      margin-bottom: 40px;
    }
  }
}
